html {
    font-family: Montserrat;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-width:300px;
}

.intro-text{
  padding-top:50px;
  padding-bottom:100px;
}






.background-image-full-screen {
background: url(img/boxcar_art_sm.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/boxcar_art_sm.jpg', sizingMethod='scale')";
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/boxcar_art_prog.sm.jpg', sizingMethod='scale');


}

.clear{
  display:none;
}



#map {
       height: 150px;
       max-width: 400px;
       margin:auto;
     }


#tickets {
  background: url(../img/header-bg.jpg) no-repeat center center fixed;
}


#mailchimp {
	/*background: #f8f8f8;
	color: #3D6392;*/

  /*padding-top: 20px;
padding-right: 15px;
padding-bottom: 0px;
padding-left: 15px;*/
}
	#mailchimp input {
		 border: medium none;
    color: gray;
    font-family: Montserrat;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
    padding: 8px 10px;
    width: 100%;
		border-radius: 20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
	}
		#mailchimp input.email { background: #fff }
		#mailchimp input.name { background: #fff}
		#mailchimp input[type="submit"] {
			background: #115B87;
			color: #fff;
			cursor: pointer;
			font-size: 11px;
			width: 0%;
			padding: 8px 0;

		}
			#mailchimp input[type="submit"]:hover { color: #F2C94C }
.centeredContainer{
  margin-top: 10%;
  padding-top: 10%;
  margin-left: 10%;
    margin: 0 auto;
  height: 80%;
  width: 80%;
     min-width:2;
     transition:all .2s linear;
       -o-transition:all .2s linear;
       -moz-transition:all .2s linear;
       -webkit-transition:all .2s linear;

}
.topHalfOfContainer{

}
#maintitle {
  letter-spacing: 10px;
  font-size: 58px;
}

#subtitle {

  font-size:46px;
}

.three-letter-spacing {
  letter-spacing: 3px;
}

.two-letter-spacing {
  letter-spacing: 0px;
}





.kerning{
  letter-spacing: 2px;
}
.kerning-g{
  letter-spacing: .5    px;
}
.centeredText{
  text-align: center;
}
.titleText{
  padding:8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 38;
  letter-spacing: 3px;
  color: white;

}
.white{
  color: white;
}
.subTitleText{
  font-family: 'Montserrat', sans-serif;
  font-size: 18;
  color: white;
}
.box{
  max-width:298px;
  border-style: solid;
  border-color: white;
  padding-top: 7px;
  padding-bottom: 8px;
  margin:0 auto;
  /*margin-top: 4px;
  margin-bottom: 4px;*/
}
.fineText{
  padding:8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12;
  color: white;
  text-shadow: 1px 1px 0px rgba(0,0,0, 0.5);

}
.map{
  display: flex;
     align-items: center;
     justify-content: center;

}

.extra-margin{
  margin-top: 13px;
  margin-bottom: 13px;
}



.beanstock-logo{
  width:60px;
  display: block;
   margin: 0 auto;
}
.bottomHalfOfContainer{

display: flex;
justify-content: center;
max-width:400px;
padding-top: 7px;
padding-bottom: 8px;
margin:0 auto;
transition:all .2s linear;
  -o-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -webkit-transition:all .2s linear;

margin-top: 10px;
background-color:  #6ebf64;
border-radius: 3px;
}

.left{
 margin-left:12px;
 width: 50%;
 float:left;
}
.right{
margin-left:12px;
 width: 50%;
 float:left;
}

.register{
  padding-top:10px;
  font-size: 14;
}
.tagline{
  padding:10px;
  font-size: 42px;
  font-weight: bold;
  line-height: 85%;
}
.emailButton{

}

.inverted {
	filter: invert(100%);
}

@media only screen and (max-width: 539px) {
  .bottomHalfOfContainer {
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  .left{
    width: 100%;
  }
  .right {
    width: 100%;

  }
  .tagline{
    font-size: 20;
    text-align: center;

  }
  .centeredContainer {

    margin-top: 0%;
    margin-left: 0%;
      width: 100%;
  }

}

.jnzn.intro-lead-in {
   font-style: normal;
}

#copyright{
  background-color: #222;
  color: white;
}

#btn-jnzn {
  background-color: rgba(110, 191, 100, .9);
  border-color: rgba(110, 191, 100, .9);
  margin: 10px;
}

.italic{
  font-style: italic;
}

.thin{
font-weight: lighter;

}

#tickets {
      background-image: url(../img/BOTTOM_IMAGE.jpg);
}

div  .navbar-default .navbar-nav {
  background-color: #6ebf64;
}

.icon-background1 {
    color: #ffc0ff;
}

.bg-green{

  background-color: #6ebf64;
}

.padding-tix {
  padding:5px;
  max-width: 500px;
  display: block;
   margin: 0 auto;

}

.img-org {
  max-width: 230px;
}

.text-primary2 {
  color:  #6ebf64;
}

.padding-top{
  padding-top: 40px;
}
